:root{
  --unlocked: rgba(21, 227, 16, 0.17);
  --locked: rgba(240, 43, 0, 0.17);
}

main{
  padding: 0 10%;
}

.carte{
  position: relative;
}

.carte img{
  width: 100%;
  mix-blend-mode: multiply;
}

.salle-overlay, .passage{
  position: absolute;
  background: var(--locked);
  mix-blend-mode: darken;
}

.salle-overlay:not(.locked){
  background: var(--unlocked);
}

._019{
  left: 2.9%;
  width: 42.4%;
  height: 59.2%;
  top: 32%;
}

._020{
  left: 45.4%;
  width: 29.8%;
  height: 19%;
  top: 32%;
}

._016{
  left: 68.9%;
  width: 29.8%;
  height: 25.5%;
  top: 2.5%;
}

._029{
  left: 45.1%;
  width: 29.8%;
  height: 32.1%;
  top: 65.6%;
}

._020-016{
  width: 9.6%;
  height: 4%;
  top: 28%;
  left: 63.4%;
}

._016-029-1{
  width: 5.7%;
  height: 37.6%;
  top: 28%;
  left: 93.1%;
}

._016-029-2{
  width: 44.2%;
  height: 4%;
  top: 61.6%;
  left: 48.9%;
}

._020:not(.locked) ~ ._016.locked ~ ._020-016{
  background: linear-gradient(90deg, var(--unlocked) 10%, var(--locked));
}

._016:not(.locked) ~ ._029.locked ~ ._016-029-1{
  background: linear-gradient(180deg, var(--unlocked), var(--locked) 150%);
}

._016:not(.locked) ~ ._029.locked ~ ._016-029-2{
  background: linear-gradient(90deg, var(--locked), var(--unlocked) 240%);
}

._020:not(.locked) ~ ._016:not(.locked) ~ ._020-016,
._016:not(.locked) ~ ._029:not(.locked) ~ ._016-029-1,
._016:not(.locked) ~ ._029:not(.locked) ~ ._016-029-2{
  background: var(--unlocked);
}