:root{
  --unlocked: rgba(21, 227, 16, 0.17);
  --locked: rgba(240, 43, 0, 0.17);
}

body{
  display: flex;
  flex-direction: column;
}

main{
  padding: 0 10%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > div{
  margin-bottom: 5vh;
}

.carte img{
  pointer-events: none;
}

.carte{
  position: relative;
}

.carte-img{
  width: 100%;
  mix-blend-mode: multiply;
  position: relative;
  z-index: 1;
}

.avatar{
  position: relative;
  z-index: 1;
  width: 14vw;
}

.salle-overlay, .passage{
  position: absolute;
  background: var(--locked);
}

@keyframes fade{
  50%{
    background-color: rgba(21, 227, 16, 0.03);
  }
}

.salle-overlay.current{
  animation: fade 1.25s ease-in-out infinite;
  cursor: pointer;
}

.salle-overlay.current > div{
  position: relative;
  height: 100%;
}

@keyframes focus{
  from{
    opacity: 0;
    transform: scale(1.25);
  }
  50%{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: none;
  }
}

.salle-overlay.current > div:after,
.salle-overlay.current > div:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  outline: 1px solid rgb(68, 188, 66);
  left: 0;
  top: 0;
  animation: focus 1s ease-out infinite;
  pointer-events: none;
}

.salle-overlay.current > div:before{
  animation-delay: 0.5s;
}

.salle-overlay.locked img{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12vw;
}

.salle-overlay:not(.locked){
  background: var(--unlocked);
}

._019{
  left: 2.9%;
  width: 42.4%;
  height: 59.2%;
  top: 32%;
}

._019 .avatar{
  top: 20.7%;
  left: 11.6%;
}

._020{
  left: 45.4%;
  width: 29.8%;
  height: 19%;
  top: 32%;
}

._020 .avatar{
  top: 30.7%;
  left: 41.6%;
}


._016{
  left: 68.9%;
  width: 29.8%;
  height: 25.5%;
  top: 2.5%;
}

._016 .avatar{
  top: 10.8%;
  left: 43%;
}

._029{
  left: 45.1%;
  width: 29.8%;
  height: 32.1%;
  top: 65.6%;
}

._029 .avatar{
  top: 19.9%;
  left: -2.9%;
}

._020-016{
  width: 9.6%;
  height: 4%;
  top: 28%;
  left: 63.4%;
}

._016-029-1{
  width: 5.7%;
  height: 37.6%;
  top: 28%;
  left: 93.1%;
}

._016-029-2{
  width: 44.2%;
  height: 4%;
  top: 61.6%;
  left: 48.9%;
}

._020:not(.locked) ~ ._016.locked ~ ._020-016{
  background: linear-gradient(90deg, var(--unlocked) 10%, var(--locked));
}

._016:not(.locked) ~ ._029.locked ~ ._016-029-1{
  background: linear-gradient(180deg, var(--unlocked), var(--locked) 150%);
}

._016:not(.locked) ~ ._029.locked ~ ._016-029-2{
  background: linear-gradient(90deg, var(--locked), var(--unlocked) 240%);
}

._020:not(.locked) ~ ._016:not(.locked) ~ ._020-016,
._016:not(.locked) ~ ._029:not(.locked) ~ ._016-029-1,
._016:not(.locked) ~ ._029:not(.locked) ~ ._016-029-2{
  background: var(--unlocked);
}

.puzzle img{
  height: 3rem;
}

.puzzle{
  display: flex;
  align-items: center;
}

.puzzle span{
  margin: 0 0.2em;
}

.puzzle p{
  font-size: 2rem;
  margin-left: 0.35em;
}

main .btn.blanc{
  padding: 0.75rem 1rem;
  color: black;
  border-radius: 0.75em;
  border-color: #a8a8a8;
}

.btn p{
  margin-left: 0.45em;
}

.popup{
  position: absolute;
  width: 100%;
  background-color: var(--explication-bg);
  backdrop-filter: blur(20px);
  height: 100%;
  padding: 10%;
  z-index: 1;
  align-items: center;
  justify-content: center;
  display: none;
}

.popup.visible{
  display: flex;
}

.popup .btn{
  padding-right: 0;
  padding-left: 0;
  flex: 1;
}

.popup .btn:first-child{
  margin-right: 8%;
  box-shadow: none;
}

.popup p{
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

.popup-window > div{
  display: flex;
}

.popup-window{
  padding: 2rem;
  background-color: white;
  border-radius: 0.75rem;
}