.td_toplogo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 0 1% 0;
    height: 10%;

}

.td_applogo{
    padding-top:10%;
    height: 100%;
    width: auto;
    margin-right: 15px;
}

.td_logotitle{
    font-family: 'Open Sans', sans-serif;
    color: #333;
}
