@font-face {
  font-family: 'retro_gamingregular';
  src: url('../assets/fonts/retro_gaming-webfont.woff2') format('woff2'),
       url('../assets/fonts/retro_gaming-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root{
  --primary: #980dff;
  --white: #F8F8F8;
  --explication-bg: rgba(0, 0, 0, 0.8);
  --gradiant: linear-gradient(103.33deg, #980DFF 2.9%, #2DAAE1 143.46%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
  background: var(--white);
}

h1 {
  font-family: 'retro_gamingregular';
}