:root{
  --rouge: #FF6868;
  --white: #f5f5f5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
  background: var(--white);
}