body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#startTitle {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

#imgStart {
    width: 40%;
}

#textStart {
    margin: 0 10%;
    font-size: 20px;
    text-align: center;
}