#startTitle {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

#imgStart {
    width: 40%;
}

#textStart {
    margin: 0 10%;
    font-size: 20px;
}

#boutonDebut {
    background-color: #DE0D67;
    border-radius: 20px;
}