body{
    overflow: hidden;
}
.in_buttons_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.in_but{
    width: 70%;
    display: flex;
    padding: 0 1% 0 1%;
    align-items: center;
    justify-content: space-around;
    height: 8%;
    margin-bottom: 8%;
}

.overlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: var(--white);
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay_header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin-top:2% ;
}

.ret_but{
    border: 0px;
    padding: 1% 3% 1% 3%;
}

.overlay_title{
    width: 100%;
    padding-left: 5%;
    font-size: 1.5em;
}

.prof_card_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-top: 7%;
    height: 70%;
    overflow: scroll;
}

.prof_card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--rouge);
    width: 150px;
    border-radius: 10px;
    height: fit-content;
    margin: 0 5px 0 5px;
    padding: 10px;
}

.prof_card_avatar{
    width: 80%;
    height: auto;
}
.prof_card_name{
    color: white;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-align: center
}
.prof_card_desc{
    color: white;
    font-size: 10px;
    text-align: center
}

.prof_card_overlay{
    position: absolute;
    transform: translateY(200%);
    height: 50vh;
    width: 100%;
    background-color: white;
    transition: 0.3s;
}

#td_0{
}