body{
    overflow: hidden;
}
.quit.btn.blanc{
    width: fit-content;
}
.quit.btn.blanc p{
    margin-left: 10px;
}
.in_buttons_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
}

.in_but{
    width: 70%;
    display: flex;
    padding: 0 1% 0 1%;
    align-items: center;
    justify-content: space-around;
    height: 8%;
    margin-bottom: 8%;
}

.overlay{
    width: 100%;
    height: 90%;
    position: absolute;
    background-color: var(--white);
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px -4px 14px rgba(0, 0, 0, 0.05);}

.overlay_header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin-top:2% ;
}

.ret_but.btn.blanc{
    border: 0px;
    border-color: white;
    padding: 1% 3% 1% 3%;
}
.ret_but.btn.blanc span{
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay_title{
    width: 100%;
    padding-left: 5%;
    text-align: center;
}

.prof_card_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-top: 7%;
    height: 80%;
    overflow: scroll;
}

.prof_card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary);
    width: 150px;
    border-radius: 10px;
    height: fit-content;
    margin: 0 5px 0 5px;
    padding: 10px;
    margin-bottom: 20px;
    height: 40%;
}

.prof_card_avatar{
    width: 80%;
    height: auto;
}
.prof_card_name{
    color: white;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    font-size: 0.85em;
}
.prof_card_desc{
    color: white;
    font-size: 0.6em;
    margin-top: 0.5em;
    text-align: center;
}

.prof_card_overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    transform: translateY(200%);
    height: 80vh;
    width: 100%;
    background-color: white;
    transition: 0.3s;
}

.porf_overlay_top{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 90%;
}

.close_po.btn{
    padding: 5px;
    font-size: 2em;
    border-radius: 100%;
    width: 30px;
    border-color: white;
    background: transparent;
    border-color: white;
}
.in_button_img{
    width: 150%;
    height: auto;
}

.avatar_to_photo{
    width: 40%;
    height: auto ;
    border-radius: 5%;
    max-height: 20vh;
    max-width: 20vh;

}

.prof_card_overlay .prof_card_name{
    color: black;
    font-size: 1.5em;
    margin-top: 2vh;
}

.prof_card_overlay .prof_card_desc{
    color: black;
    font-size: 1em;
    margin-top: 2vh;
}

.overlay_coord_container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 1vh;
    width: 80%;
    height: 100%;
}

.overlay_coord_container button{
    position: absolute;
    width: 80%;
}
.coord_infos{
    width: 90%;
    border-radius: 0 25% 0 0;
    background-color: var(--primary-light);
    display: flex;
    flex-direction: column;
    padding-top: min(15%, 60px);
}

.where {
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
    padding: 12px 16px 6px 16px;
    color: var(--primary);
}

.mail{
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 17px;
    text-decoration-line: underline;
    padding: 6px 16px 6px 16px;

}

.mail span{
    text-decoration-line: none;
    margin-right: 0.25em;
}

.accord{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3%;
}

.info_liste{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    overflow: scroll;
    flex-direction: column;
    padding-top: 200px;
}

.accord_title{
    width: 100%;
    justify-content: space-between;  
    padding: 10px;  
    box-shadow: none;
    border-bottom-right-radius: 0px;

}

.accord_content{
    width: 80%;
    background-color: var(--primary-light);
    border-bottom-left-radius: 16px;
    font-size: 0.7em;
}

.title{
    margin-top: 10px;
    font-size: 1.3em;
    color: var(--primary);
}

.accord_content_text{
    padding: 20px 20px 25px 20px;
}

.arrow{
    transition: all 0.3s;
}