body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.td_tutorial{
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: var(--explication-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.td_tutorial p{
    width: 80%;
    font-family: 'Jost';
    color: white;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    line-height: 36px;
    margin-bottom: 10%;
}

.td_card_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.td_card{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 80%;  
    border-radius: 20px;
    transition: 0.5s;
    background: var(--white);
}
.td_card:first-child {
    box-shadow: 0 20px 25px 7px rgba(0, 0, 0, 0.06);
}

.td_questions_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: 50% 50%;
    color: white;
    font-weight: 300;
    font-family: 'Jost';
    font-size: 1.8em;
    text-align: center;
    margin-top: 10%;
    width: 90%;
    height: 70%;
    border-radius: 12px;
}
.question{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 5% 0 5%;
}
.td_action_buttons{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.td_button{
    width: 69px;
    height: 69px;
    border-radius:100%;
    box-shadow: 2px 3px 7px rgba(0, 0, 0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.td_like_button{
    background: var(--primary);
}

.td_button_img{
    width: 50%;
    height: 50%;
}


.td_blur{
    filter: blur(20px);
}